<div>
  <h1>Login</h1>

  <form class="loginPage" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput id="userName" formControlName="userName">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" formControlName="password">
      </mat-form-field>
    </p>

    <div class="button">
      <button type="submit" color="primary" mat-button>
        Login
      </button>
      <button type="button" color="primary" mat-button (click)="onCancel()">
        Cancel
      </button>
    </div>

  </form>

  <a [routerLink]="register.path">{{registerMessage}}</a>
</div>
