<mat-card-title mat-dialog-title>Enter Payment Information to Purchase: {{medicationName}}</mat-card-title>
<mat-dialog-content [formGroup]="paymentForm" align="center">
  <table>
    <tr>
      <td>Prescribed By:</td>
      <td>{{prescriber}}</td>
    </tr>
    <tr>
      <td>Card Number:</td>
      <mat-form-field class="ngx-cc-form-field">
        <ngx-cc id="cardNum"
                styleClass="card"
                formControlName="cardNum">
        </ngx-cc>
        <mat-error *ngIf="paymentForm.controls.cardNum.invalid">Card Number Must Be Valid.</mat-error>
      </mat-form-field>
    </tr>
    <tr>
      <td>Expiration Date:</td>
      <td>
        <mat-form-field appearance="fill">
          <ngx-cc-date formControlName="expirationDate" placeholder="MM/YY"></ngx-cc-date>
          <mat-error *ngIf="paymentForm.controls.expirationDate.invalid">Expiration Date Must Be Valid.</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Card CVV:</td>
      <td>
        <mat-form-field appearance="fill">
          <ngx-cc-cvv styleClass="maxCvvLength: 16" formControlName="cvv" placeholder="CVV"></ngx-cc-cvv>
          <mat-error *ngIf="paymentForm.controls.cvv.invalid">Credit Card CVV Must Be Valid.</mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button type="submit" color="primary" mat-button (click)="onSubmit()" [disabled]="paymentForm.invalid">
    Submit Order
  </button>
  <button mat-button color="primary" type="button" (click)="onCancel()">
    Cancel
  </button>
</mat-dialog-actions>
