<div>
  <a (click)="onClick()" style="cursor: pointer">
    <img alt="Sunshine Pharmacy Logo" src="assets/SunshinePharmacyLogo.png"
         style="max-width: 200px;
        max-height: 200px;">
  </a>

  <button type="submit"
          [routerLink]="login.path"
          mat-button
          *ngIf="!loggedIn">
    {{login.label}}
  </button>
  <button type="submit"
          [routerLink]="logout.path"
          mat-button
          *ngIf="loggedIn"
          (click)="logoutFunction()">
    {{logout.label}}
  </button>
</div>
<nav mat-tab-nav-bar
     mat-align-tabs="center">
  <a mat-tab-link
     [routerLink]="link[0].path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link[0].label}}
  </a>
  <a mat-tab-link
     *ngIf="loggedIn && accountType=='prescriber'"
     [routerLink]="link[1].path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link[1].label}}
  </a>
  <a mat-tab-link
     *ngIf="loggedIn && accountType=='user'"
     [routerLink]="link[4].path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link[4].label}}
  </a>
  <a mat-tab-link
     *ngIf="loggedIn"
     [routerLink]="link[2].path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link[2].label}}
  </a>
  <a mat-tab-link
     *ngIf="loggedIn && accountType == 'user'"
     [routerLink]="link[3].path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link[3].label}}
  </a>
  <a mat-tab-link
     *ngIf="loggedIn && accountType == 'prescriber'"
     [routerLink]="link[5].path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link[5].label}}
  </a>
  <a mat-tab-link
     [routerLink]="link[6].path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link[6].label}}
  </a>
</nav>

