<div>
  <h1>Sunshine Pharmacy</h1>
  <button type="submit"
          [routerLink]="login.path"
          mat-button
          *ngIf="!loggedIn">
    {{login.label}}
  </button>
  <button type="submit"
          [routerLink]="logout.path"
          mat-button
          *ngIf="loggedIn"
          (click)="logoutFunction()">
    {{logout.label}}
  </button>
</div>
<nav mat-tab-nav-bar
     mat-align-tabs="center">
  <a mat-tab-link
     [routerLink]="link[0].path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link[0].label}}
  </a>
  <a mat-tab-link
     *ngIf="loggedIn"
     [routerLink]="link[1].path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link[1].label}}
  </a>
  <a mat-tab-link
     *ngIf="loggedIn"
     [routerLink]="link[2].path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link[2].label}}
  </a>
</nav>

