<h1 *ngIf="isNull && userProfileType == 'user'">You have not ordered anything yet!</h1>
<h1 *ngIf="isNull && userProfileType == 'prescriber'">You have not inputted any prescriptions yet!</h1>
<div *ngIf="!isNull">
  <h1 *ngIf="userProfileType == 'user'">Your Order History</h1>
  <h1 *ngIf="userProfileType == 'prescriber'">Your Prescription Input History</h1>
  <table-component [dataSource]="tableData"
                   [displayedColumnTitles]="displayedColumnsTitles"
                   [displayedColumns]="displayedColumns">
  </table-component>
</div>
