mat-checkbox {
  padding-right: 10px;
}

.page {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

mat-card-title {
  margin-bottom: 50px;
}
