<h1>Registration</h1>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput id="firstName" formControlName="firstName">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput id="lastName" formControlName="lastName">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" formControlName="email">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="dateOfBirth">
      <mat-label>Date of Birth</mat-label>
      <input matInput type="date" id="dateOfBirth" formControlName="dateOfBirth">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput id="userName" formControlName="userName">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" formControlName="password">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Re-enter Password</mat-label>
      <input matInput type="password" id="reEnterPassword" formControlName="reEnterPassword">
    </mat-form-field>
  </p>

  <div class="button">
    <button type="submit" color="primary" mat-button>
      Confirm
    </button>
    <button type="button" color="primary" mat-button (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>

