<mat-card-title mat-dialog-title>Prescribe: {{medicationName}}?</mat-card-title>
<mat-dialog-content [formGroup]="confirmationForm" align="center">

  <table>
    <tr>
      <td>Medication:</td>
      <td>{{medicationName}}</td>
    </tr>
    <tr>
      <td>Medication Quantity:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="medicationQuantity"
                 formControlName="medicationQuantity"
                 matInput>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Medication Frequency:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="medicationFrequency"
                 formControlName="medicationFrequency"
                 matInput>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>New or Refill?</td>
      <td>
        <mat-form-field appearance="fill">
          <mat-select id="type"
                      formControlName="type">
            <mat-option *ngFor="let choice of choices"
                        [value]="choice">
              {{choice}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Prescriber First Name:</td>
      <td>{{prescriberFirstName}}</td>
    </tr>
    <tr>
      <td>Prescriber Last Name:</td>
      <td>{{prescriberLastName}}</td>
    </tr>
    <tr>
      <td>Patient First Name:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="patientFirstName"
                 formControlName="patientFirstName"
                 matInput>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Patient Last Name:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="patientLastName"
                 formControlName="patientLastName"
                 matInput>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Patient Street:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="patientStreet"
                 formControlName="patientStreet"
                 matInput>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Patient City:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="patientCity"
                 formControlName="patientCity"
                 matInput>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Patient State:</td>
      <td>
        <mat-form-field appearance="fill">
          <mat-select id="patientState"
                      formControlName="patientState">
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Patient Zip Code:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="patientZipCode"
                 formControlName="patientZipCode"
                 matInput>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Patient Date of Birth:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="patientDOB"
                 type="date"
                 formControlName="patientDOB"
                 matInput>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button type="submit" color="primary" mat-button
          (click)="onSubmit()"
          [disabled]="!confirmationForm.valid">
    Checkout
  </button>
  <button mat-button color="primary" type="button" (click)="onCancel()">
    Cancel
  </button>
</mat-dialog-actions>
