<mat-card-title mat-dialog-title>Ready to Purchase? Confirm Your Information!</mat-card-title>
<mat-dialog-content [formGroup]="checkoutConfirmationForm" align="center">
  <table>
    <tr>
      <td>Medication:</td>
      <td>{{medicationName}}</td>
    </tr>
    <tr>
      <td>Prescribed By:</td>
      <td>{{prescriberName}}</td>
    </tr>
    <tr>
      <td>New or Refill?:</td>
      <td>{{medicationType}}</td>
    </tr>
    <tr>
      <td>Medication Quantity?:</td>
      <td>{{medicationQuantity}}</td>
    </tr>
    <tr>
      <td>How Often Should I Take This?:</td>
      <td>{{medicationFrequency}}</td>
    </tr>
    <tr>
      <td>Confirm Street Address:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="streetAddress"
                 formControlName="streetAddress"
                 matInput
                 placeholder="Street Address">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Confirm City:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="city"
                 formControlName="city"
                 matInput
                 placeholder="City">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Confirm State:</td>
      <td>
        <mat-form-field appearance="fill">
          <mat-select id="state"
                      formControlName="state"
                      placeholder="State">
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Confirm Zip Code:</td>
      <td>
        <mat-form-field appearance="fill">
          <input id="zipCode"
                 formControlName="zipCode" matInput placeholder="Zip Code" maxlength="5">
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button type="submit" color="primary" mat-button (click)="onSubmit()" [disabled]="!checkoutConfirmationForm.valid">
    Proceed to Payment
  </button>
  <button mat-button color="primary" type="button" (click)="onCancel()">
    Cancel
  </button>
</mat-dialog-actions>
