mat-form-field {

}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

mat-table {
  width: 100%;
  max-width: 100%;
  display: table;
  border-collapse: collapse;
  margin: 0;
}

mat-row, mat-header-row {
  display: table-row;
}

mat-header-cell {
  color: black;
}

mat-cell, mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-column {
  border-right: 1px black;
}

mat-icon {
  cursor: pointer;
}
