<div *ngIf="userProfileType == 'admin'">
  <h1>Application Profiles</h1>
  <table-component [dataSource]="tableData"
                   [displayedColumnTitles]="displayedColumnsTitles"
                   [displayedColumns]="displayedColumns">
  </table-component>
</div>
<div *ngIf="userProfileType == 'user' || userProfileType == 'prescriber'">
  <h1>Your Profile</h1>
  <table-user-info-component [dataSource]="tableData"
                             [displayedColumnTitles]="displayedColumnsTitles"
                             [displayedColumns]="displayedColumns">
  </table-user-info-component>
</div>

